:root {
  --app-background-color: #fdf7ee;
  --app-foreground-color: #000000;
  --app-primary: #dfd8ce;
  font-family: "Inknut Antiqua", serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --app-background-color: #1a1a1a;
    --app-foreground-color: #ffffff;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--app-background-color);
  color: var(--app-foreground-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 200px;
}

.hero-img {
  width: 360px;
  margin-bottom: 3rem;
  align-self: center;
}

.hero-emojis {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.hero-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 3rem;
}

.hero-subtitle {
  text-align: center;
  font-size: 1rem;
  line-height: 2.5rem;
  font-weight: normal;
}

.hero-button {
  border: 0;
  background: none;
  background-color: var(--app-primary);
  padding: 12px 64px;
  border-radius: 100px;
  cursor: pointer;
  text-align: center;
  color: var(--app-foreground-color);
  text-decoration: none;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  align-self: center;
}

.hero-link {
  text-align: center;
  color: var(--app-foreground-color);
  margin-bottom: 2rem;
}

p {
  margin-bottom: 2rem;
  line-height: 2.5rem;
}

.socials-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.social-icon * {
  width: 2rem;
  height: 2rem;
  fill: var(--app-foreground-color);
}

footer {
  text-align: center;
  padding: 2rem;
}

/* 
MARK: Queries 
*/

@media (max-width: 540px) {
  main {
    width: 100%;
  }

  .hero-img {
    width: calc(100% - 20px);
  }
}
